
{% macro marginnotes(indexonly=False) -%}
{% if (indexonly and isexcerpt) or not indexonly -%}
{{ _notes__notes(caption=caller(), kind='marginnotes') }}
{%- endif %}
{%- endmacro %}

{% macro spoileralert() -%}
{% call marginnotes() %}**-- Spoiler Alert! --**{% endcall %}
{%- endmacro %}
