.jekyll-metadata
.sass-cache/
Gemfile.lock
_site/
_public/
assets/matasano/__pycache__/
*.swp
*.pyc
uml
_tmp_uml_svg_in_*
_docker/node_modules/
_old_public

# already in _posts folder
assets/azeria-arm-challenges-assets
assets/debruijn-assets
js/search_index.js
