<footer>
    <hr class="slender">
    <div class="credits">
        <span>&copy; {{ site.time | date: '%Y' }}
            {% if site.email == "" or site.email == nil %}
            {{site.author }}
        </span></br>
            <a style="text-decoration: none;" href="/feed.xml"><img height="16px" width="16px" src="/assets/blog-assets/rss-32px.png" /></a>
        <br>
        {% else %}
        <a href="mailto:{{ site.email }}">{{site.author}}</a></span></br> <br>
    {% endif %}

    
    </div>
</footer>
