<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  {% if site.lato_font_load %}
    <link href='//fonts.googleapis.com/css?family=Lato:400,400italic' rel='stylesheet' type='text/css'>
  {% endif %}

  {% if site.mathjax %}
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        extensions: ["tex2jax.js"],
        jax: ["input/TeX","output/HTML-CSS"],
        tex2jax: {inlineMath: [["$$","$$"],["\\(","\\)"]]},
	TeX: {
	  Macros: {
            {% if page.latex_macros %}
            {{ page.latex_macros }}
            {% endif %}
	  }
	}
      });
    </script>
    {% if site.offline %}
      <script src='{{ "/js/mathjax/MathJax.js" | prepend: site.baseurl }}' async></script>
    {% else %}
      <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js' async></script>
    {% endif %}
  {% endif %}

  {% if site.offline %}
    <script src="{{ "/js/jquery-3.4.1.min.js" | prepend: site.baseurl }}"></script>
  {% else %}
    <script
       src="https://code.jquery.com/jquery-3.4.1.min.js"
       integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
       crossorigin="anonymous"></script>
  {% endif %}

  {% if site.phaser %}
    {% if site.offline %}
      <script src='{{ "/js/phaser-3.18.1.js" | prepend: site.baseurl }}' ></script>
    {% else %}
      <script src='https://cdn.jsdelivr.net/npm/phaser@3.18.1/dist/phaser.min.js' ></script>
    {% endif %}
  {% endif %}

    {% if site.offline %}
      <script src='{{ "/js/underscore-1.9.1.js" | prepend: site.baseurl }}' ></script>
    {% else %}
      <script src='https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.1/underscore-min.js' ></script>
    {% endif %}

    {% if site.offline %}
      <script src='{{ "/js/d3.v4.min.js" | prepend: site.baseurl }}'></script>
    {% else %}
      <script src="https://d3js.org/d3.v4.min.js"></script>
    {% endif %}

    <script src='{{ "/js/venn/venn.min.js" | prepend: site.baseurl }}'></script>
    <script src='{{ "/js/venn/helper.js" | prepend: site.baseurl }}'></script>

    <script src='{{ "/js/fix_syntax_highlight.js" | prepend: site.baseurl }}'></script>
  <link rel="stylesheet" type="text/css" href="{{ "/css/tufte.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" type="text/css" href="{{ "/css/latex.css" | prepend: site.baseurl }}">

  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

  <link rel="stylesheet" type="text/css" href="{{ "/css/all.min.css" | prepend: site.baseurl }}">

  {% feed_meta %}
</head>
